form(method='post')
    .fields-form
        span.fa.fa-user(aria-hidden='true')
        input(type='text', name='email', required='', placeholder='email')
    input(type='submit', value='Reset password')