extends layout

block content
  .main-form
    h2= title
    p Welcome to the studis test page.
    .fields-form
      ul
        li
          a(href="/login") login
        li
          a(href="/logout") logout
        li
          a(href="/personal") personal
        li
          a(href="/student_import") student import