head
	title Express authentication example
body
	h1 Express authentication example
	form(method='post')
		p
			Username
			input(type='text', name='username')
		p
			Password
			input(type='password', name='password')
		input(type='submit')
		
		p= message