form(method='post')
    .fields-form
        span.fa.fa-user(aria-hidden='true')
        input(type='password', name='password', required='', placeholder='password')
    .fields-form
        span.fa.fa-user(aria-hidden='true')
        input(type='password', name='confirm', required='', placeholder='confirm')
    input(type='submit', value='Update password')