doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(http-equiv='x-ua-compatible', content='ie=edge')
        title StudIS
        // Font Awesome
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
        // Bootstrap core CSS
        link(href='../stylesheets/bootstrap.min.css', rel='stylesheet')
        // Material Design Bootstrap
        link(href='../stylesheets/mdb.min.css', rel='stylesheet')
        // Your custom styles (optional)
        link(href='../stylesheets/style.css', rel='stylesheet')
        // Font awesome
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
        link(href='../stylesheets/personal.css', rel='stylesheet')
    body
        // Main Navigation
        header
            nav.navbar.fixed-top.navbar-expand-lg.navbar-dark.red.scrolling-navbar
                a.navbar-brand(href='')
                    strong StudIS
                button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarSupportedContent.collapse.navbar-collapse
                    ul.nav.navbar-nav.nav-flex-icons.ml-auto
                        li.nav-item.dropdown
                            a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                i.fa.fa-user=" "+email
                            .dropdown-menu.dropdown-menu-right(aria-labelledby='navbarDropdownMenuLink')
                                a.dropdown-item(href='/personal') Pojdi nazaj
                                a.dropdown-item(href='/logout') Odjava
        .wrapper
            .container
                .row.mt-5.pt-5
                    .col.text-center
                        p Pregled Žetonov 
                        p= tokenId
                        button.btn.btn-primary.btn-sm(type='button') Nov žeton
                        table.table.table-sm
                            thead
                                tr
                                    th Ime
                                    th Priimek
                                    th Vpisna številka
                                    th Program
                                    th Letnik
                                    th Vrsta vpisa
                                    th Način študija
                                    th 
                                    th 
                                    th 

                            tbody
                               
                                tr
                                    td moje ime
                                    td moj priimek
                                    td 15125215215
                                    td Program
                                    td Letnik
                                    td Vrsta vpisa
                                    td Način študija
                                    td 
                                        button.btn.btn-danger.btn-sm(type='button') Briši
                                    td 
                                        button.btn.btn-info.btn-sm(type='button') Uredi
                                        
                                tr
                                    td moje ime
                                    td moj priimek
                                    td 15125215215
                                    td Program
                                    td Letnik
                                    td Vrsta vpisa
                                    td Način študija
                                    td 
                                        button.btn.btn-danger.btn-sm(type='button') Briši
                                    td 
                                        button.btn.btn-info.btn-sm(type='button') Uredi        
        // SCRIPTS
        // JQuery
        script(type='text/javascript', src='../js/jquery-3.2.1.min.js')
        // for generating export tables csv, pdf
        script(type='text/javascript', src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.min.js")
        script(type='text/javascript', src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/2.3.2/jspdf.plugin.autotable.min.js")
        script(type='text/javascript', src='../js/personal/table2pdf.js')
        script(type='text/javascript', src='../js/table2csv.js')
        // Bootstrap tooltips
        script(type='text/javascript', src='../js/popper.min.js')
        // Bootstrap core JavaScript
        script(type='text/javascript', src='../js/bootstrap.min.js')
        // MDB core JavaScript
        script(type='text/javascript', src='../js/mdb.min.js')
        //search
        script(type='text/javascript', src='../js/personal/search.js')